script:
  - npm run karma-tests
language: node_js
node_js:
  - "5.5.0"
before_script:
  - npm -g install npm@latest
  - npm install -g bower
  - npm install
  - bower install
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3
