<br>
<br>
<br>
<br>
<br>
<br>


<section class="homePageText">

    <span class="theTitle">Guest Login</span>

    <br>
    <br>

  <form>
    <div>
      <input type="text" class="Input" placeholder="email" ng-model="email" />
    </div>
    <div class="panel-body">
      <input type="password" class="Input" placeholder="password" ng-model="pass" />
    </div>
    <div class="panel-body">
      <button class="submitButton" ng-click="login(email, pass)" ng-hide="createMode">Log In</button>
    </div>
    <div class="panel-body">
      <button class="submitButton" ng-cloak ng-show="createMode" ng-click="createMode = false">Cancel</button>
    </div>

    <p ng-show="err" class="error">{{err}}</p>
  </form>
</section>



</body>

</html>
