html, body {
  height: 100%;
}

body {
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-image: url('../img/background.jpeg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.bgImage {
  padding-top: 10%;
  height: 100%;
  box-sizing: border-box;
}

.homePageText {
  background-color: #eee;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  opacity: 0.75;
}

.theTitle {
  font-size: 3em;
  margin-top: 5px;
}

.Input {
  width: 60%;
  margin: 3px;
  /*height: 1.5em;*/
  font-size: 1em;
}

.submitButton {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #ffffff;
  font-size: 12px;
  padding: 5px 20px 5px 20px;
  margin: 5px;
  text-decoration: none;

}
